<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>
            com.ericsson.nms.presentation.service.rest.exceptions.GenericExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.InvalidConsumesRequestExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.PresentationServerExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.UserNotFoundExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.IllegalArgumentExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.InvalidApplicationTypeExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.SecurityExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.NotFoundExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.NoConditionsProvidedExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.ConditionsLimitExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.SettingNotFoundExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.SystemPropertyNotFoundExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.ServiceRemovedExceptionHandler,
            com.ericsson.nms.presentation.service.rest.exceptions.UnrecognizedPropertyExceptionHandler
        </param-value>
    </context-param>

</web-app>
